<div class="jumbotron">
    <h2>Carlos Henrique dos S. R. Jr</h2>
    <h2>Gabriel de Lima Couto</h2>
    <h2>Luisa Hering</h2>
    <h2>github: <a href="https://github.com/httpsantos/ServicosAzureTesteDePerformance1" target="_blank"> link</a></h2>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Software como serviço (SaaS)</h2>
        <p>
            Software como serviço, do inglês Software as a service (SaaS), é uma forma de distribuição e comercialização de software pela internet.
            Nesse modelo, o cliente se isenta de toda responsabilidade por parte de infraestrutura (servidores, conectividade, cuidados com segurança da informação),
            pagando um valor pelo serviço.
        </p>
        <p>
            Esse padrão também é conhecido como <b>softwares baseados na Web, softwares sob demanda ou softwares hospedados</b>. Independente do nome do serviço
            esses softwares são executados nos servidores das empresas provedoras e a mesma é encarregada por toda a infraestrutura.
            Alguns exemplos de empresas e serviços que utilizam o modelo SaaS são Dropbox, Shopify e Google Apps.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Plataforma como serviço (PaaS)</h2>
        <p>
            Plataforma como serviço, do inglês Platform as a Service, consiste em um serviço pago de Nuvem que disponibiliza ambientes de desenvolvimento.
            Semelhante ao SaaS, que disponibiliza o software pronto, o PaaS oferece a plataforma para sua construção, além da infraestrutura necessária.
        </p>
        <p>
            Portanto, com esse serviço o cliente também não precisa se preocupar com uma série de recursos como licenças de uso,
            atualizações ou requisitos de hardware necessários para o desenvolvimento de aplicações,
            facilitando o trabalho do desenvolvedor.
            O modelo PaaS é vendido como serviço de sistema operacional,
            ambiente de execução de ferramentas de programação,
            sistemas gerenciadores de base de dados etc...
        </p>
    </div>
    <div class="col-md-4">
        <h2>Infraestrutura como serviço (IaaS)</h2>
        <p>
            Dentro de computação de nuvem estabelece-se como a mais "básica", Infraestrutura como serviço faz-se através do aluguel de estruturas computacionais como máquinas virtuais,
            redes, sistemas operacionais, servidores, entre outros.
        </p>
        <p>
            No modelo IaaS o provedor em nuvem além de hospedar a infraestrutura oferece também serviços e componentes adjacentes como taxações detalhadas,
            monitoramento, logs de acesso, seguranca, recovery, backup, firewall etc...
        </p>
    </div>
</div>
